/* Responsive code start */
@media screen and (max-width: 1250px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}


@media screen and (max-width: 900px){
  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";

  }
.wlcm{
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:50px;
    
}
.heading{
    padding:5px;
    background-color:#fff;
    opacity:0.9;
    font-size:25px;
    color:lawngreen;
    font-weight:300;
}
.subheading{
    padding:5px;
    background-color:#282e34;
    opacity:0.9;
    color:lawngreen;
    font-weight:150;
    font-size:15px;
     margin-bottom: 40px;
}
}
    
    
@media screen and (max-width: 400px){
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 27px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }
    .footer-menu ul{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}
}